[submodule "Modules/advertisement"]
	path = Modules/advertisement
	url = https://github.com/tahir-kali/advertisement.git
[submodule "Modules/Advertisement"]
	path = Modules/Advertisement
	url = https://github.com/tahir-kali/advertisement.git
[submodule "app/Modules/Index"]
	path = app/Modules/Index
	url = https://github.com/tahir-kali/index.git
